<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
            <div class="cart">
                    <p>Cart({{cart.length}})</p>
                    </div>
        <product :premium="premium" @add-to-cart="updateCart"></product>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="main.js"></script>
</body>
</html>